<html>
    <head>
        <title>DateNight</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/slider.css">
        <script type="text/javascript" src="/stylesheets/jquery-3.2.0.min.js"></script>
    </head>
    
    <body><div class="container main">
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>DateNight</div>
                <a href="/" class="item">Home</a>
            </div>
            
        </div>
        
