<% include ./partials/header %>
    <div class="center-block text-center">
        <h1 class="ui header center">How should you spend your date nights?</h1>
        <p class="center lead">Discover great activities for you and your DateNight partner</p>
        <a class="btn btn-primary" href="/activities">Find My Perfect Datenight</a>
    </div>



<% include ./partials/footer %>